@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root{
  --primary-font-color: #B3D3FC;
  --secondary-font: #f1f4f8;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #f1f4f8;
    
  }
  /* border maker */
  /* #scores, #choose-weapon-text, #choices{
  border:3px solid white;
} */
  /* border maker */
#full-container {
    /* transform: scale(0.6); */
    box-sizing: border-box;
    position: absolute;
    border: 10px solid var(--secondary-font);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('img/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    
}
#fullscreen-button{
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}
.fullscreen-png{
  height: 5vh;
  width: 5vh;
}
/* the start game screen start */
 #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 12px;
    overflow: hidden;
    transition: opacity 0.6s ease;
} 
#title-overlay {
  display: flex;
  justify-content: center;
  
}
#title-overlay h1{
  font-size: 11vw; 
  line-height: 30vh;
  color: var(--secondary-font);
  /* text-shadow: 0 0 0.5vh white; */
  
}

.start-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.start-btn-container button{
  height: 11vh;
  width: minmax(400px, 40vw);
  border-radius: 30px;
  background: none;
  border: 5px solid var(--secondary-font);
  outline: white;
  font-size: 4vw;
  color: var(--secondary-font);
  cursor: pointer;
  /* text-shadow: 0 0 0.5vh white */
}
#technologies-used{
  display: flex;
  justify-content: start;
  align-items: end;
}
.icons{
margin-bottom: 3vh;

}
.icons i{
  font-size: 4vw;
  margin: 0 .5vh;
  color: #d3d3d3;
  
}

/* the start screen end */
#game-container {
  opacity: 0;
  z-index: 50;
  display: none;
  width: 100%;
  height: 100vh;
  grid-template-rows: 2fr 5fr;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  gap: 2vw;
  color: var(--secondary-font);
}
.title-r, .title-p, .title-s{
  opacity: 0;
  transition: opacity 2s ease;

}
#game-content{
  display: grid;
  grid-template-rows: 0.5fr 3fr 1.5fr;
}
#text-below-title{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  opacity: 0;
  transition: opacity 2s ease;

}
.pngs{
  height: 15vw;
  width: 15vw;
  background: none;
  transition: transform 0.5s ease;
  
}
.pngs:hover{
  transform: scale(1.1, 1.2);
}
.buttons{
  background:none;
  border: none;
  cursor: pointer;
}

#choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  
}
#choices-container{
  display: flex;
  gap: 10vw;
  opacity: 0;
  transition: opacity 2s ease;
}
#scores{
  display: flex;
  justify-content: center;
  gap: 3vw;
  opacity: 0;
  transition: opacity 2s ease;
  
}
#player-score, #score-seperator, #computer-score{
font-size: 8vh;
}

/* animations */
#animations-container{
  width: 100%;
  height: 100vh;
  display: none;
  grid-template-columns: 1fr 1fr;
}
#left-container, #right-container{
  display: flex;
  align-items: center;

}
#right-container{
  justify-content: flex-end;
}
.animation-pngs{
  height: 35vw;
  width: 35vw;
}
#left-png{
margin-left: 4vw;
transition: margin 1s ease;
}

#right-png{
margin-right: 4vw;
transition: margin 1s ease;
}






/* winner and loser screens */

#winner-screen, #loser-screen{
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-size: 20vh;
  
}
#winner-container, #loser-container{
  margin-top: 6vw;
}
#you-win, #you-lose{
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}
#better-luck-next-time, #now-do-it-again{
  font-size: 7vh;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}

/* @media (max-width: 1000px) {
  #full-container {
    transform: scale(1, 0.6);
}
} */
